@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}
.img:hover {
  transform: scale(1.1);
  transition: all 3s;
}
.scale10 {
  animation: scale10 2s infinite alternate;
  transition: all 3s;
}
.scale100 {
  animation: scale100 2s infinite alternate;
  transition: all 3s;
}
.bordert {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #171618, #fcc23f);
  animation: bordertop 2s linear infinite;
}
.borderr {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, #171618, #fcc23f);
  animation: borderright 2s linear infinite;
  animation-delay: 1s;
}
.borderb {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, #fcc23f);
  animation: borderb 2s linear infinite;
}
.borderl {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, #171618, #fcc23f);
  animation: borderl 2s linear infinite;
  animation-delay: 1s;
}
@keyframes bordertop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes borderright {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes borderb {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes borderl {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scale10 {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes scale100 {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
